html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

/* Video Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    /* Stay in the background */
}

/* Header Styles */
header {
    padding: 10px 0;
}

.nav-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-items a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-variant: small-caps;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.nav-items a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Contact Section */
main {
    flex-grow: 1; /* Allow main content to fill available space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-info {
    text-align: center;
    padding: 20px;
    color: #E0FFFF;
}

.contact-info h1 {
    font-variant: small-caps;
    font-size: 4.5rem;
    margin-bottom: 20px;
    color: #E0FFFF;
}

.contact-details p {
    font-size: 1.8rem;
    margin: 10px 0;
}

.contact-details a {
    color: #FFDEE9;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Footer Section */
footer {
    margin-top: auto; /* Push footer to the bottom */
    padding: 10px 0;
    
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-items .social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-size:medium;
}



.footer-items .copyright p {
    margin: 0;
    color: white;
    font-size: medium;
}


.social-media a:hover {
    color: #aaa;
    border: solid white;
}
